@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
 *{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  box-sizing: border-box;
  font-family: 'Poppins' , sans-serif;
}
/*Bootstrap*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
/*Main*/
html {
  height: 100%;
  width: 100%;
}
body {
  background-color: #f9f5f1 !important;
  height: 100%;
  width: 100%;
}
.header {
  position: absolute;
  height: 100px;
  background: #99E53F;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border-radius: 5px;
}
.header h2 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  box-shadow: 10 10 10px rgba(0,0,0,0.3);
}
.nav {
  float: right;
  list-style: none;
}
.nav li {
  display: inline-block;
  padding-left: 20px;
}
.icons-block {
  position: absolute;
  height: 370px;
  top: 200px;
}
.icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding-top: 30px;
}
.description {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.icons-block img {
  height: 130px;
}
.icons-block p {
  width: 120px;
  height: auto;
}
.slider-block {
  position: absolute;
  height: 506px;
  left: 0px;
  top: 600px;
  background: #99E53F;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.fotorama {
  min-height: 100%;
  position: absolute;
}
.widget-block {
  position: absolute;
  height: 631px;
  left: 0px;
  top: 1176px;
  padding: 0;
}
.widget {
  position: relative;
  display: block;
  border-radius: 30px;
  height: 90%;
  left: 25%;
  top: 5%;
}
.footer {
  position: absolute;
  height: 355px;
  left: 0px;
  top: 1807px;
  background: #99E53F;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border-radius: 5px;
}
img {
  max-height: 50%;
  max-width: 33.33%;
}
